@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;600&display=swap');

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* { 
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
     box-sizing: border-box; 
}

:root {
	--primary: hsla(0, 0%, 100%, 0.8);
	--secondary: hsla(0, 0%, 100%, 0.5);
	--tertiary: hsla(0, 0%, 100%, 0.35);
	--soft: hsla(0, 0%, 100%, 0.2);
	--subtle: hsla(0, 0%, 100%, 0.12);
	--minimal: hsla(0, 0%, 100%, 0.06);
	--quiet: hsla(0, 0%, 100%, 0.04);
	--foreground: hsla(0, 0%, 100%, 0.02);
}

html {
	background-color: #0A0A0A;
	margin: 0;
    height: 100%;
}

body {
	background-image: linear-gradient(#0A0A0A, #121212);
	font-family: 'Inter', sans-serif;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	margin: 0;
	padding: 32px 20px 0px 20px;
	display: flex;
	flex-direction: column;
	gap: 16px;

	opacity: 0;
	transition: opacity .3s ease-out;
}

h1 {
	color: var(--primary);
	font-size: 20px;
	font-weight: 500;
	line-height: 24px;
	letter-spacing: -.6px;
}

h1 span {
	color: var(--secondary);
}

.label {
	color: var(--tertiary);
	text-transform: uppercase;
	font-size: 12px;
	line-height: 12px;
	letter-spacing: 2%;
	font-weight: 500;
}

.description {
	font-size: 14px;
	font-weight: 500;
	line-height: 18px;
	color: var(--secondary);
}

p {
	color: var(--primary);
	font-size: 14px;
	line-height: 18px;
	font-weight: 500;
}

.title {
	transition: opacity .3s ease-in-out;
}

.note {
	font-size: 12px;
	font-weight: 500;
	line-height: 16px;
	color: var(--secondary);
	transition: opacity .3s ease-in-out;
}

.divider {
	height: 0.5px;
	width: 100%;
	background-color: var(--quiet);
}

a {
	color: inherit;
	text-decoration: none;
	transition: color .3s ease-out;
}

img {
	max-width: 100%;
}

.column {
	width: 100%;
	min-width: 150px;
	height: 100%;
	display: flex;
	flex-direction: column;
	row-gap: 24px;

	/* margin-top: 100px;
	transition: margin-top .4s ease-in-out; */
}

.card {
	padding: 16px 0px;
	background-color: var(--foreground);
	border: solid .5px var(--quiet);
	border-radius: 20px;
	display: flex;
	flex-direction: column;
	gap: 24px;
	max-width: 100%;
}

.card-header {
	display: flex;
	flex-direction: column;
	gap: 8px;
	padding: 0px 16px;
}

.intro {
	margin-bottom: 64px;
	display: flex;
	flex-direction: column;
	gap: 20px;
	transition: color .3s ease-out;
}

.intro a:hover {
	text-decoration: underline;
	color: var(--primary);
}

.avatar {
	width: 72px;
	height: 72px;
	border-radius: 100%;
	background-color: blueviolet;
	margin-bottom: 4px;
}

/* tags container */
.tags-frame {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 6px;
	margin-top: 4px;
}

.tag {
	display: flex ;
	flex-direction: column;
	flex-wrap: wrap;
	padding: 6px 10px 6px 8px;
	background-color: var(--foreground);
	border: solid .5px var(--quiet);
	border-radius: 99px;
	cursor: pointer;
	transition: background-color .3 ease-in-out;
	transition: border .3 ease-in-out;

	-webkit-user-select: none;
  	-ms-user-select: none; 
  	user-select: none;
}

.tag:hover {
	opacity: .8;
	transition: opacity .3s ease-out;
}

.tag p {
	font-size: 12px;
	line-height: 12px;
	font-weight: 500;
	margin: 0;
}

.tag span {
	margin-left: 4px;
	color: var(--secondary);
	transition: color .3 ease-in-out;
	color: var(--secondary);
}


/* ----------------------------------- */

#utilities {
	display: flex;
	flex-direction: row;
	gap: 24px;
	width: 100%;
	flex-wrap: wrap;
}

.weather-parent {
	width: 100%;
	max-width: calc(50% - 12px);
}

#weather {
	background: var(--foreground);
	max-width: 100%;
	position: relative;


	aspect-ratio: 1;
	border-radius: 20px;
	border: solid .5px var(--minimal);
	padding: 16px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	flex-wrap: wrap;
}

#weather p {
	color: var(--primary);
	font-size: 16px;
	font-weight: 600;
	line-height: 20px;
}

#weather p:nth-child(2) {
	margin-top: 6px;
	color: var(--primary);
	font-size: 40px;
	font-weight: 500;
	line-height: 40px;
	letter-spacing: -.5px;
}

.icon-24 {
	position: absolute;
	left: 16px;
	bottom: 16px;
	opacity: .8;
}

/* about section */
#about .img-frame {
	margin: 0px 16px;
	border-radius: 12px;
	aspect-ratio: 1;
	overflow: hidden;
	position: relative;
}

.slides {
	width: 100%;
  	height: 100%;
  	white-space: nowrap;
  	font-size: 0;
}

.slide {
	width: 100%;
	height: 100%;
	display: inline-block;
	position: absolute;
	left: 100%;
	transition: left .3s ease-out;

}

.slide:first-of-type {
	left: 0;
}

.stepper {
	background-color: rgba(0,0,0,.4);
	padding: 4px;
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 4px;
	border-radius: 99px;
	position: absolute;
	bottom: 8px;
	left: 0px;
	right: 0px;
	margin: 0 auto;
	width: fit-content;
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
}

.stepper img {
	opacity: 1;
	transition: opacity .3s ease-out;
	cursor: pointer;
}

.dots {
	display: flex;
	flex-direction: row;
	gap: 4px;
}

.dot {
	width: 6px;
	height: 6px;
	border-radius: 100%;
	background-color: var(--soft);
	transition: background-color .3s ease-out;
}

/* clock construction */
.clock-parent {
	width: 100%;
	max-width: calc(50% - 12px);
}

#clock {
	position: relative;

	max-width: 100%;
	aspect-ratio: 1;
	border-radius: 100%;
    background: var(--foreground);
	border: solid 0.5px var(--minimal);
}

#clock img {
	width: 100%;
	aspect-ratio: 1;
	padding: 10%;
}

.center {
	background: #888787;
	border-radius: 100%;
	width: 6.5px;
	height: 6.5px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 2;
}
 
#hour,
#minute {
	position: absolute;
    background: #888787;
	transform-origin: bottom;
	/* if changing the padding, change the top value accordingly*/
	padding-bottom: 5%;
}
 
#hour {
	width: 1.5px;
    height: 26%;
    top: 24.3%;
    left: 49.8%;
}
 
#minute {
    width: 1.5px;
    height: 41%;
    top: 9%;
    left: 49.7%;
}

.pointer {
	position: relative;
	height:100%;
	width: 5px;
	left: -1.8px;
	background: #CFCFCF;
	border-radius: 99px;
	z-index: 2;
}

.gallery {
	display: flex;
	flex-direction: column;
	gap: 24px;
}

.gallery .grid {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.gallery img {
	width: 100%;
	border-radius: 20px;
}

.gallery .grid img {
	max-width: calc(50% - 12px);
}


/* journey section */

.items {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.item {
	display: flex;
	flex-direction: column;
	gap: 2px;
	padding: 0px 16px;
}

/* highlight section */

#highlight {
	padding-top: 0;
    overflow: hidden;
}

.highlight img {
	border-radius: 16px;
	aspect-ratio: 1;
}

#highlight a:hover {
	color: var(--primary);
	text-decoration: underline;
}

.highlight .item {
	padding-bottom: 0px;
}

.highlight :nth-child(2) {
	display: flex;
	flex-direction: column;
	gap: 12px;
}

#highlight .note {
	padding: 12px 16px 0px 16px;
}

/* Songs section */

#music .items a {
	text-decoration: none;
}

.song {
	display: flex;
	flex-direction: row;
	gap: 12px;
	align-items: center;
	padding: 0px 16px;
	transition: color .3s ease-in-out;
}

.song .item {
	padding: 0px;
	width: 100%;
}

.song .label {
	padding: 0px;
}

.song .labels {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.music-img {
	position: relative;
	width: 44px;
	aspect-ratio: 1;
	border-radius: 10px;
	overflow: hidden;
}

.music-hover {
	position: absolute;
	top: 0px;
	left: 0px;
	max-width: 100%;
	background-color: rgba(0,0,0,.08);
	opacity: 1;
	position: absolute;
	-webkit-backdrop-filter: blur(2px);
	backdrop-filter: blur(2px);
	z-index: 2;
	opacity: 0;
	transition: opacity .3s ease-in-out;
}

.event-item {
	display: flex;
	flex-direction: row;
	gap: 12px;
}

.event-item .color {
	height: 36px;
	width: 4px;
	border-radius: 99px;
	background-color: #E05454;
}

#event-item-2 .color {
	background-color: #E08F54;
}

.text {
	display: flex;
	flex-direction: column;
	gap: 2px;
}

.checklist {
	display: flex;
	flex-direction: column;
	gap: 10px;
	padding: 0px 16px;
}

.checklist-item {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 8px;
	cursor: pointer;
}

.checklist-item p {
	color: var(--primary);
	transition: color .3s ease-in-out;
}

.check {
	height: 16px;
	width: 16px;
	border-radius: 6px;
	border: 1px solid var(--subtle);
	transition: background-color .3s ease-in-out;
}

.check img {
	width: 100%;
	aspect-ratio: 1;
	opacity: 0;
}

.design-dev {
	display: flex;
	flex-direction: column;
	gap: 12px;
}

.design-dev-item {
	display: flex;
	flex-direction: row;
	gap: 16px;
	padding: 0px 16px;
	align-items: center;
}

.design-dev-item .icon {
	background-color: var(--quiet);
	border-radius: 12px;
	width: 48px;
	height: 48px;
}

.icon img {
	width: 100%;
	aspect-ratio: 1;
	opacity: .35;
	transition: opacity .3s ease-in-out;
}


/* social media section */
#socialmedia {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	padding: 0;
	gap: 0px;
}

.links {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;

}

.links a {
	display: flex;
	height: 56px;
	border-right: solid .5px var(--quiet);
	flex-grow: 1;
	justify-content: center;
}

.links a img {
	opacity: .35;
	width: 100%;
}

.links a img:hover {
	transition: opacity .3s ease-in-out;
	opacity: .8;
}

.links a:last-of-type {
	border-right: none;
}

.empty {
	background-image: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
	max-width: 100%;
	height: 100px;
	opacity: 0.02;
	border-radius: 20px 20px 0px 0px;
}

/* Media Queries) */
@media only screen and (min-width: 600px) {
	body {
		padding: 64px 54px 0px 54px;
		display: flex;
		flex-direction: row;
		gap: 24px;
		height: fit-content;
	}

	.column {
		display: flex;
		flex-direction: column;
        column-gap: 24px;
        row-gap: 20px;
		height: fit-content;
	}

	.block {
		flex-basis: calc(25% - 18px);
	}

	#weather p {
		font-size: 14px;
		line-height: 18px;
	}
	
	#weather p:nth-child(2) {
		margin-top: 4px;
		font-size: 36px;
	}

	.gallery {
		display: flex;
		flex-direction: column;
		gap: 24px;
		max-width: 100%;
	}

	.gallery .grid {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	.gallery img {
		max-width: 100%;
		border-radius: 20px;
	}

	.gallery .grid img {
		max-width: calc(50% - 12px);
	}

	.highlight img {
		max-width: 100%;
	}

}

@media only screen and (min-width: 1200px) {

	body {
    	height: 100%;
	}

	.column {
		height: 100%;
	}
}
